TOKEN=#Discord bot token
PREFIX=#prefix for commands related to the chat bridge
START_COMMAND=#Command to run to listen to server logs 
GAME_CHAT_CHANNEL=#Discord Channel ID
RCON_HOST=localhost
RCON_PASSWORD=password# Change to actual rcon password
SERVER_TYPE=#Set to one of the following values vanilla, spigot, paper, purpur